.image1 {
  width: 20%;
  height: 30%;
  box-shadow: 15px 15px 15px grey;
  position: relative;
  left: 375px;
}
.image2 {
  width: 25%;
  height: 35%;
  box-shadow: 15px 15px 15px grey;
  position: relative;
  left: 375px;
}
.image3 {
  width: 50%;
  height: 60%;
  box-shadow: 15px 15px 15px grey;
  position: relative;
  left: 25px;
}
.image4 {
  width: 25%;
  height: 35%;
  box-shadow: 15px 15px 15px grey;
  position: relative;
  left: 375px;
}
.image5 {
  width: 25%;
  height: 35%;
  box-shadow: 15px 15px 15px grey;
  position: relative;
  left: 375px;
}

.table {
  position: relative;
  left: 25px;
}
.table,
.td {
  color: white;
  background-color: black;
  padding: 3px;
  font-family: Georgia;
  margin-top: 10px;
}
.th {
  background-color: darkgrey;
}

.link {
  width: 100%;
  color: white;
  text-align: center;
  font-family: Georgia;
}
.links {
  bottom: 175px;
  width: 27%;
  position: relative;
  left: 65%;
}
.head {
  width: 100%;
  color: white;
  font-family: Georgia;
  text-align: center;
  background-color: grey;
}
.text {
  width: 100%;
  color: white;
  font-family: Georgia;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 5px 5px black;
}
.summary {
  width: 100%;
  color: white;
  font-family: Georgia;
  text-align: center;
  margin-top: 20px;
}
.pair {
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.body {
  background-image: url("images/nier 4 copy.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.drake-sum-cont {
  bottom: 350px;
  width: 27%;
  position: relative;
  left: 55%;
}
.drake3-sum-cont {
  bottom: 275px;
  width: 27%;
  position: relative;
  left: 55%;
}
.nierG-sum-cont {
  bottom: 275px;
  width: 27%;
  position: relative;
  left: 55%;
}
.nierA-sum-cont {
  bottom: 275px;
  width: 27%;
  position: relative;
  left: 55%;
}
.nierR-sum-cont {
  bottom: 275px;
  width: 27%;
  position: relative;
  left: 55%;
}

