img {
  width: 10%;
  height: 20%;
}

table,
td {
  background-color: black;
  padding: 3px;
}
th {
  background-color: darkgrey;
}

p,
a {
  width: 100%;
}
.text {
  color: white;
  background-color: translucent black;
  font-family: Georgia;
}
body {
  background-image: url("nier 4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
